// Place all the styles related to the searches::request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// all

body{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
// header

.header{
  width: 100vw;
  height: 60px;
  background-color:blue;
  display: flex;
  justify-content: space-between;
  position: fixed;
  a{
    color: white;
  }
  .right_box{
    ul{
      display: flex;
      justify-content: flex-end;
    }
  }
}
// main
.main{
  width: 70%;
}
.top_wrapper{
  padding-top: 60px;
  height: 60px;
}
.middle_wrapper{
  height: calc( 100vh - 60px);
}

.articles{
  height: calc( 100vh - 120px);
  overflow: scroll;
}
// side_bar
.side_bar__box{
  height:100vh;
  width: 30%;
  background-color:red;
  position: fixed;
  right: 0;
  top: 60px;
}

.side_bar{
  &__contents{
  padding: 10%;
  background-color: yellow;
  height: calc(100% - 30px);
  }
  &__content{
    height: 30%;
    background-color:green;
  }
}