  <div class="article">
    <div class="article__title">
      <p>タイトル:</p>
    </div>
    <div class="article__solution">
      <p>解決方法:</p>
    </div>
    <div class="article__box">
      <%= link_to "詳細はクリック！", "#" %>
    </div>
  </div>
