<div class="main">
  <div class="top_wrapper">
    <input type="text" placeholder="検索窓">
    <p>投稿一覧</p>
  </div>
  <div class="middle_wrapper">
    <div class="articles">
      <% @articles.each do |article| %>
        <%= render "shared/article", {article: article} %>
      <% end %>
    </div>
  </div>
</div>
