<div class="side_bar__box">
  <div class="side_bar__contents">
    <div class="side_bar__content">
      <div class="side_bar__content__mypage">
        <p class="side_bar__content__title">MyPage</p>
      </div>
    </div>
    <div class="side_bar__content">
      <div class="side_bar__content__progress">
        <p class="side_bar__content__title">学習進捗率</p>
      </div>
    </div>
    <div class="side_bar__content">
      <div class="side_bar__content__check">
        <p class="side_bar__content__title">理解度チェック</p>
      </div>
    </div>
  </div>

</div>